body {
    padding-left: 15px;
}

h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
	text-align: right;
	font-style: italic;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.inline {
	display: inline-block;
}

.post-date-right {
    line-height: 6em;
}

.create-btn-right {
    text-align: right;
    margin-top: 25px;
}

.custom-btn.create-post-btn {
	padding: 15px 25px;
}

.create-post-btn:hover,
.custom-btn:hover {
	background: black;
	border-color: black;
	color: white;
}

.custom-btn {
	background: transparent;
    border: solid 2px black;
    padding: 10px 25px;
    color: black;
    text-shadow: none;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.5s ease-out;
}

input, textarea {
	    border: solid 2px black;
}